<<<<<<< HEAD
body, html{
height: 100%;
margin: 0;
padding: 0;
}
.container
{
display: block;
background: url('img/fondo.png');
background-size: cover;
background-position: center;
}

.titulo{
    margin-top: 10px;
}

.logo{
    height: 60px;
}

.foto{
    height: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.yt{
    height: 50px;
    margin-top: 20px;
}

.tw{
    height: 60px;
    margin-top: 20px;
}

.fb{
    height: 70px;
    margin-top: 5px;
}
.contenido{
    
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
=======
body, html{
height: 100%;
margin: 0;
padding: 0;
}
.container
{
display: block;
background: url('img/fondo.png');
background-size: cover;
background-position: center;
}

.titulo{
    margin-top: 10px;
}

.logo{
    height: 60px;
}

.foto{
    height: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.yt{
    height: 50px;
    margin-top: 20px;
}

.tw{
    height: 60px;
    margin-top: 20px;
}

.fb{
    height: 70px;
    margin-top: 5px;
}
.contenido{
    
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
>>>>>>> 672390e2965ae1f64d46e89ea55bbf882ee87c8f
